<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider
    Name="https://ExampleIdentityProvider"
    Description="Example Identity Provider">
    <LocalCertificates>
      <Certificate FileName="Certificates\idp.pfx" Password="password"/>
    </LocalCertificates>
  </IdentityProvider>

  <ServiceProvider
    Name="https://ExampleServiceProvider"
    Description="Example Service Provider"
    AssertionConsumerServiceUrl="~/SAML/AssertionConsumerService.aspx">
    <LocalCertificates>
      <Certificate FileName="Certificates\sp.pfx" Password="password"/>
    </LocalCertificates>
  </ServiceProvider>

  <PartnerIdentityProviders>
    <PartnerIdentityProvider
      Name="https://ExampleIdentityProvider"
      Description="Example Identity Provider"
      SignAuthnRequest="true"
      SingleSignOnServiceUrl="https://localhost:44390/SAML/SSOService.aspx"
      SingleLogoutServiceUrl="https://localhost:44390/SAML/SLOService.aspx">
      <PartnerCertificates>
        <Certificate FileName="Certificates\idp.cer"/>
      </PartnerCertificates>
    </PartnerIdentityProvider>
  </PartnerIdentityProviders>

  <PartnerServiceProviders>
    <PartnerServiceProvider
      Name="https://ExampleServiceProvider"
      Description="Example Service Provider"
      WantAuthnRequestSigned="true"
      SignSAMLResponse="true"
      SignAssertion="false"
      EncryptAssertion="false"
      AssertionConsumerServiceUrl="https://localhost:44338/SAML/AssertionConsumerService.aspx"
      SingleLogoutServiceUrl="https://localhost:44338/SAML/SLOService.aspx">
      <PartnerCertificates>
        <Certificate FileName="Certificates\sp.cer"/>
      </PartnerCertificates>
    </PartnerServiceProvider>
  </PartnerServiceProviders>
</SAMLConfiguration>
