<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider 
    Name="https://MvcExampleIdentityProvider"
    Description="MVC Example Identity Provider">
    <LocalCertificates>
      <Certificate FileName="Certificates\idp.pfx" Password="password"/>
    </LocalCertificates>
  </IdentityProvider>

  <PartnerServiceProviders>
    <!-- MVC example -->
    <PartnerServiceProvider 
      Name="https://MvcExampleServiceProvider"
      Description="MVC Example Service Provider"
      WantAuthnRequestSigned="true"
      SignSAMLResponse="true"
      SignAssertion="false"
      EncryptAssertion="false"
      AssertionConsumerServiceUrl="https://localhost:44386/SAML/AssertionConsumerService"
      SingleLogoutServiceUrl="https://localhost:44386/SAML/SingleLogoutService">
      <PartnerCertificates>
        <Certificate FileName="Certificates\sp.cer"/>
      </PartnerCertificates>
    </PartnerServiceProvider>
  </PartnerServiceProviders>
</SAMLConfiguration>
