<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider 
    Name="https://MvcExampleServiceProvider"
    Description="MVC Example Service Provider"
    AssertionConsumerServiceUrl="~/SAML/AssertionConsumerService">
    <LocalCertificates>
      <Certificate FileName="Certificates\sp.pfx" Password="password"/>
    </LocalCertificates>
  </ServiceProvider>

  <PartnerIdentityProviders>
    <!-- MVC example -->
    <PartnerIdentityProvider 
      Name="https://MvcExampleIdentityProvider"
      Description="MVC Example Identity Provider"
      SignAuthnRequest="true"
      SingleSignOnServiceUrl="https://localhost:44363/SAML/SingleSignOnService"
      SingleLogoutServiceUrl="https://localhost:44363/SAML/SingleLogoutService">
      <PartnerCertificates>
        <Certificate FileName="Certificates\idp.cer"/>
      </PartnerCertificates>
    </PartnerIdentityProvider>
  </PartnerIdentityProviders>
</SAMLConfiguration>
